{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.name }}</td>
                <td>
                    <a href="{{ path('operation_show', {'id': operation.id}) }}" class="btn btn-sm btn-secondary">show</a>
                    <a href="{{ path('operation_edit', {'id': operation.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('operation_new') }}" class="btn btn-sm btn-success">Create new</a>
{% endblock %}
