{% extends 'base.html.twig' %}

{% block title %}Hiring{% endblock %}

{% block body %}
    <h1>Hiring</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hiring.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hiring.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hiring_index') }}">back to list</a>

    <a href="{{ path('hiring_edit', {'id': hiring.id}) }}">edit</a>

    {{ include('hiring/_delete_form.html.twig') }}
{% endblock %}
