{% extends 'base.html.twig' %}

{% block title %}Term index{% endblock %}

{% block body %}
    <h1>Term index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for term in terms %}
            <tr>
                <td>{{ term.id }}</td>
                <td>{{ term.name }}</td>
                <td>
                    <a href="{{ path('term_show', {'id': term.id}) }}" class="btn btn-sm btn-secondary">show</a>
                    <a href="{{ path('term_edit', {'id': term.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('term_new') }}" class="btn btn-sm btn-success">Create new</a>
{% endblock %}
