{% extends 'base.html.twig' %}

{% block title %}PurchaseRequest index{% endblock %}

{% block body %}
    <h1>PurchaseRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Operation</th>
                <th>Hiring</th>
                <th>Office</th>
                <th>Term</th>
                <th>Purchase Reason</th>
                <th>Estimated Price</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase_request in purchase_requests %}
            <tr>
                <td>{{ purchase_request.id }}</td>
                <td>{{ purchase_request.operation }}</td>
                <td>{{ purchase_request.hiring }}</td>
                <td>{{ purchase_request.office }}</td>
                <td>{{ purchase_request.term }}</td>
                <td>{{ purchase_request.purchaseReason }}</td>
                <td>{{ purchase_request.estimatedPrice }}</td>
                <td>{{ purchase_request.createdAt ? purchase_request.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ purchase_request.updatedAt ? purchase_request.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('purchase_request_show', {'id': purchase_request.id}) }}" class="btn btn-sm btn-secondary">show</a>
                    <a href="{{ path('purchase_request_edit', {'id': purchase_request.id}) }}" class="btn btn-sm btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('purchase_request_new') }}" class="btn btn-sm btn-success">Create new</a>
{% endblock %}
