{% extends 'base.html.twig' %}

{% block title %}PurchaseRequest{% endblock %}

{% block body %}
    <h1>PurchaseRequest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase_request.id }}</td>
            </tr>
            <tr>
                <th>Purchase_reason</th>
                <td>{{ purchase_request.purchaseReason }}</td>
            </tr>
            <tr>
                <th>Estimated_price</th>
                <td>{{ purchase_request.estimatedPrice }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ purchase_request.createdAt ? purchase_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ purchase_request.updatedAt ? purchase_request.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('purchase_request_index') }}">back to list</a>

    <a href="{{ path('purchase_request_edit', {'id': purchase_request.id}) }}">edit</a>

    {{ include('purchase_request/_delete_form.html.twig') }}
{% endblock %}
